

.page_404 {
  margin-left: 12%;
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;

}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #0b7404;
  margin: 20px 0;
  display: inline-block;
  border-radius: 20px;
}

.contant_box_404 {
  margin-top: -50px;
}

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

#root { 
  margin-top: 3%;
  max-width: 100%;
  

}

* {
  font-family: 'Noto Sans', sans-serif;
}


.sidebar {
  width: 300px; /* Adjust the width as needed */
  background-color: #177B4B;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

/* Content styles */
.content {
  margin-left: 300px;
  padding: 20px; /* Add padding for spacing */
  /* Other content styling goes here */
}

/* Clearfix to prevent content from going behind the sidebar */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.sidebar ul {
  padding-left: 0rem;
}
.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  transition: 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #ffffff;
  color: black;
}
.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  background-color: #177B4B;
  padding: 10px 20px;
  color: white;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick it to the top of the viewport */
  right: 0; /* Stick it to the right side of the viewport */
  width: fit-content; /* Adjust the width as needed */
  border-radius: 1px 1px 1px 20px;
  font-weight: 600;
}
.chatbotimg{
  width: 100%;
}
/* แสดงรูปไอคอน sidebar เมื่อขนาดหน้าจอเล็กลง (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 5px 10px ;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .sidebar {
    display: none;
  }

  /* แสดงรูปไอคอนเมื่อขนาดหน้าจอเล็กลง (max-width: 768px) */
  .sidebar-icon {
    display: block;
  }

  .content {
    margin-left: 0px;
    padding: 20px; /* Add padding for spacing */
    /* Other content styling goes here */
    margin-bottom: 60px;
  }
  
}


.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide image overflow */
}

.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular container */
}

.dash-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.box-1 {
  width: calc(25% - 40px);
  background-color: #9ce2aba4;
  border-radius: 20px;
  margin: 10px;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.2s;
}

.box-1:hover {
  transform: scale(1.05);
}

.img-box {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.namebox {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.amount {
  font-size: 2.5rem;
  font-weight: 600;
}


.shop-detail {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-color: #9abdac;
  border-style: dashed;
  border-width: thick;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .dash-box {
    margin-top: 50px;
    flex-direction: unset;
    align-items: center;
    margin: 50px 10px 20px 10px;
  }
  .img-box {
    padding: 10px;
  }
  .box-1 {
    width: 50%; /* Full width on smaller screens */
    margin: 0px;
    padding: 10px;
  }

  .namebox {
    margin-top: 10px;
    font-size: 1rem;
  }

  .amount {
    font-size: 2rem;
    font-weight: 600;
  }
  /* Adjust the shop detail styles for smaller screens */
  .shop-detail {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-color: #9abdac;
    border-style: dashed;
    border-width: thick;
    margin: 10px; /* Add margin for spacing on smaller screens */
  }

  /* Adjust the font sizes and colors for smaller screens */
  p.topic-shop {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
  }

  p.detail-shop {
    font-size: 0.8rem;
    font-weight: 500;
    
  }

  p.contact-shop {
    font-size: 0.9rem;
    font-weight: 600;
  }

  /* Remove the margin for the shop detail on smaller screens */
  .shop-detail {
    margin: 10px;
  }
  p.chatbot1{
    font-size: 1rem;
  }
}


.topic-shop{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #000000;
}

.detail-shop{
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  display: flex;
  
}
.contact-shop{
  color: #0f7501;
  font-size: 1.3rem;
  font-weight: 600;

}

.profileSet{
  width: 80%;
  border-radius: 50%;
  margin: 20px;
}

.privateinfo{
  font: 1.6em sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: 65px;
  margin-bottom: 20px;
  
}

.infoSetting{
  margin-top: 20px;
  margin-left: 20px;

}

.topic{
  font-size: 1.6rem;
  font-weight: 600;
}
.topicRepo{
  text-align: center;
}

.reportfrom {
  width: 850px;
  margin: 0 auto; /* This centers the element horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(170, 223, 170, 0.712);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.buttonConfirm {
  display: flex;
  justify-content: flex-end; /* Use flex-end instead of end */
}

@media (max-width: 767px){
  .profileSet{
    width: 50%;
    margin-left: 25%;
  }
  .privateinfo{
    margin-top: 10%;
    font-size: 1.5em;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  .infoSetting{
    margin-top: 20px;
    margin-left: 0px;
    width: 150%;
  }
}

.container {
  display: flex;
  justify-content: flex-start; /* Use flex-start instead of left */
  align-items: flex-start;    /* Use flex-start instead of start */
}


.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-tile-group .input-container {
  position: relative;
  height: 110px;
  width: 110px;
  margin: 1.3rem;
 
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 120%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120%;
  height: 120%;
  border: 2px solid #c7c7c7;
  border-width: 4px;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 300ms ease;
  background-color: #ffffff;
}

.radio-tile-group .input-container .icon img {
  fill: #000000;
  width: 4rem;
  height: 4rem;
}

.radio-tile-group .input-container .radio-tile-label {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #ffffff;
  border: 2px solid #fec6eb;
  border-width: 4px;
  color: rgb(0, 0, 0);
  transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
  fill: rgb(0, 0, 0);
  background-color: #ffffff;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}


@media (max-width: 767px){
  .reportfrom {
    width: 100%; /* Use full width on mobile */
    margin: 0; /* Remove margin on mobile */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 10px; /* Remove border-radius on mobile */
  }
  .radio-tile-group {
    flex-direction: inherit;
    align-items: center;
  }
  .topic{
    margin-top: 50px;
    
  }
  .input-container {
    width: 80%; /* Adjust the width to your preference */
    margin: 1rem auto; /* Center-align the radio buttons */
  }

  .Search-Box{
    margin-top: 10%;
  }
}


.topic-order{
  font-size: larger;
  font-weight: 600;
}


.order-box {
  background-color: #ccf3c7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* เพิ่ม margin ด้านล่างเพื่อแยกแต่ละ order */
}

.status-order{
  font-size: medium;
  font-weight: 600;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 10px;
  position: relative;
  bottom: 35px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  .status-order{
    font-size: small;
    right: 10px;
  }
  .topic-order{
    font-size: medium;
    font-weight: 600;
  }
  .order-box{
    margin-top: 15px;
  }
}
/* Style for the bottom sidebar */
.bottom-sidebar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green; /* Change to your desired background color */
  color: white; /* Text color */
  padding: 20px; /* Add padding as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow */
}

/* Style for the items within the bottom sidebar */
.bottom-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.bottom-sidebar ul li {
  margin-bottom: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  /* Style for smaller screens (adjust as needed) */
  .bottom-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

/* Normal Screen Styles */
.bottom-nav {
  display: none; /* Hide on normal screens */
}

/* Mobile Screen Styles */
@media (max-width: 767px) { /* Adjust the breakpoint as needed */
  .bottom-nav {
    background: #177B4B;
    width: 100%;
    height: 60px;
    /* padding: rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; /* Fixed position for mobile screens */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left edge */
    right: 0; /* Align to the right edge */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .bottom-nav a {
    color: #b5c4da;
    text-decoration: none;
  }
}



.containerform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loginForm {
  width: 300px;
}

.bf-form{
    background-color: #2b6e526b;
    padding: 49px 0px;
    border-radius: 20px;
}

